~$etails.doc
*.tmp
Game1/GameImages/Thumbs.db
Game1/image/Thumbs.db
Game1/image/Thumbs.db
*.db
*.db
Game1/image/Thumbs.db
*.db
Game1/image/Thumbs.db
Game1/image/Thumbs.db
Game1/src/el/Theory.java
Game1/src/el/Theory.java
Game1/src/el/Theory.java